{% extends "base.html" %}
{% load rating %}
{% block head_title %}  
    <h1>{{object.title}} /</h1>
    {{ block.super }}
{% endblock %}

{% block content %}

<h1>{{object.title}}</h1>

<div>
    {% rating instance=object%}
</div>

<div>
    <ul>
            <li>
                {{object.slug}}
                {% if object.get_short_display %}
                    {{object.get_short_display}}
                {% endif %}
            </li>
    </ul>

    <h5>Trailer</h5>   
    {% include 'videos/embed.html' with video_id=object.get_video_id %}

{% for season in object.seasons %}
    <li>{{forloop.counter}}
       <a href="{{season.get_absolute_url}}"> {{season.title}} </a>
    </li>
{% endfor %}
</div>

{% endblock %}